@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

html {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-style: scrollbar;
   
}

headcontent {
box-shadow: 0 0 10px 0 #280ABF;
box-shadow: 0 0 10px 0 #280ABF;
    background-color: #1D078C;
}


li {
  list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

a{
  text-decoration: none;
    color: black;
    padding: 2vw;
}

a:hover{
  background-color: #280ABF;
      
}

nav{
  width: 100vw;
  background-color: #C6E9FF;
}

ul{
  margin: 0;
  padding: 0;
  
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
}

/*responsive navigator*/
@media only screen and (max-width: 500px) {
  
  ul{
    flex-direction: column;
  }
 
  li{
    margin: 0;
  }
 
  a{
    display: block;
  }
}

body {
    width: 700px;
	max-width: 90%;
	margin: 0 auto;	
    
    
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    background-color: #B6D9EC;
    color: #0F1111;
}

































